h1{
    font-family: 'Verdana', sans-serif;
    color: #333333;
    text-align: center;
    margin-top: 20px;
}

h2{
    font-family: 'Verdana', sans-serif;
    color: #333333;
    text-align: center;
    margin-top: 15px;
}

p{
    font-family: 'Courier New', monospace;
    color: #333333;
    text-align: center;
    margin-top: 10px;
}

a{
    color: #333333;
    text-decoration: none;
    font-family: 'Verdana', sans-serif;
}

.icon-row {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
}

.icon-item img {
    width: 100px;
    display: block;
    margin: 0 auto;
}

.navbar-brand img {
    max-height: 100px;
    height: auto;
}

body{
    background-color:#f2eeeb
}